header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        a.navbar-brand(href="/") User App
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/about") About
          li.nav-item
            a.nav-link(href="/contact") Contact
          li.nav-item
            a.nav-link(href="/users") Benutzerliste
          if typeof user !== 'undefined' && user
            li.nav-item
              div.navbar-text.me-3 Hallo, #{user.username}!
            li.nav-item
              a.nav-link(href="/dashboard") Dashboard
          else
            li.nav-item
              a.nav-link(href="/login") Login
            li.nav-item
              a.nav-link(href="/register") Registrieren