doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
    block styles
  body
    include ../partials/header

    if user
        p Hallo #{user.name}
    else
        a(href="/login" class="btn btn-primary") Anmelden

    main.container
      block content

    include ../partials/footer

    script(src="/js/bootstrap.js")
    script(src="/js/app.js")
    block scripts
