<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Über uns</h1>

  <% if (user) { %>
    <p>Hallo <%= user.name %></p>
  <% } else { %>
    <p>Bitte einloggen</p>
  <% } %>

  <p><%= content %></p>

</body>
</html>